<%= render 'shared/navbar2' %>

<div class="projects">
  <% @projects.each do |p| %>

    <div class="project_choice">
      <%= link_to project_path(p), class:"link" do %>
      
        <%= cl_image_tag p.photo.key, class:"pic" %>

        <h3 class="line"><%= p.name %></h3>

        <div class="langages">
          <% p.langages.each do |l|%>
            <p><%= cl_image_tag l.photo.key, class:"langlogo" %></p>
          <% end %>
        </div>
      <% end %>
    
    </div>


  <% end %>
</div>