<div class="project">

  <div class="project_banner">
    <%= cl_image_tag @project.photo.key, class:"project_banner_pic" %>
    <a class="go_site" href="<%= @project.web %>" target="blank">Visiter</a>
       
      <div class="icons">
        <!---tools--->
        <div class="tools">
          <ul class="ulicon">
          <% @project.tools.each do |t|%>
              <li class="liicon"><%= cl_image_tag t.photo.key , class:"tool" %></li>
          </ul>
          <% end %>
        </div>

        <!---langages--->
        <div class="langs">
          <ul class="ulicon">
          <% @project.langages.each do |l|%>
            <li class="liicon"><%= cl_image_tag l.photo.key , class:"lang" %></li>
          </ul>
          <% end %>
        </div>

      </div>

  </div>

  <div class="project_body">

    <div class="slider">
      <div class="slides">

        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">

        <div class="slide first">
        <!---mokeup--->
          <div class="mokeup">
            <% @project.mokeups.each do |m|%>

            <h3><%= m.title %></h3>
              <div class="mokeup-content">
                <%= cl_image_tag m.photo.key, class:"mokepic" %>
                <p class="moketext"><%= m.description %></p>
              </div> 
            <% end %>

          </div>

        </div>

        <div class="slide">
        <!---schema db--->
          <div class="schema">
            <% @project.schemas.each do |s|%>
            <h3><%= s.title %></h3>
              <div class="schema-content">
                <%= cl_image_tag s.photo.key, class:"schemapic" %>
                <p class="schematext"><%= s.description %></p>
              </div>
            <% end %>
          </div>

        </div>
      <!---auto nav--->
      </div>

        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
        </div>
        
    </div>
      <!-----manual nav -------->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"><i class="fas fa-arrow-left"></i></label>
        <label for="radio2" class="manual-btn"><i class="fas fa-arrow-right"></i></label>
      </div>
  </div>

    
      <!---back safe zone---> 
      <p class='back_button'><i class="fas fa-arrow-up"></i><%= link_to"Retour Projets", projects_path, class:"link" %></p>


</div>
